{% macro display_new_sources(sources_results) %} {% for news in sources_results
%}
<div class="container">
    <div class="col-md-6">
  <div class="source-card">
    <div class="card-header">
      <h2><a href="/articles/{{news.id}}">{{news.name}}</a></h2>
    </div>
    <div class="card-body text-center">
      <p class="description">{{news.description}}</p>
      <a href="{{news.url}}"
        ><button class="btn btn-sm btn-outline-info">Read Here</button></a
      >
    </div>
  </div>
</div>
</div>
{% endfor %} {% endmacro %}

<!-- Displaying articles in articles_results -->

{% macro display_new_articles(articles_results) %}
<div class="container-fluid text-center">
  {% for article in articles_results %}
  <div class="articles-card">
    <div class="card-header">
      <h2>{{ article.title}}</h2>
      <p>{{ article.article | truncate(30) }}</p>
    </div>
    <div class="card-body text-center">
      <img src="{{article.urlToImage}}" />
      <p class="desc">
        {{article.description}}
      </p>
      <p>
        Posted on: {{article.publishedAt | truncate(30)}} By: {{article.author |
        truncate(25)}}
      </p>
    </div>
    <div class="card-footer">
      <a href="{{article.url}}"
        ><button class="btn btn-sm btn-outline-info">See more</button></a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% endmacro %}
